<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="cat_name">Category Name</label>
        <input type="text" name="cat_name" placeholder="Enter category name" required>
        <label for="cat_pic">Upload Category Pic</label>
        <input type="file" name="cat_pic" required>
        <input type="submit" name="create" value="Create"><br><br>
    </form>
</body>
</html>