
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <script>
            $(document).ready(()=>{
                $("input[value=plus]").click(()=>{
                    var a = parseInt($("input[name=num1]").val())
                    var b = parseInt($("input[name=num2]").val())
                    var result = a+b
                    $("input[name=result]").val(result)
                })
                $("input[value=minus]").click(()=>{
                    var a = parseInt($("input[name=num1]").val())
                    var b = parseInt($("input[name=num2]").val())
                    var result = a-b
                    $("input[name=result]").val(result)
                })
                $("input[value=multiply]").click(()=>{
                    var a = parseInt($("input[name=num1]").val())
                    var b = parseInt($("input[name=num2]").val())
                    var result = a*b
                    $("input[name=result]").val(result)
                })
                $("input[value=divid]").click(()=>{
                    var a = parseInt($("input[name=num1]").val())
                    var b = parseInt($("input[name=num2]").val())
                    var result = a/b
                    $("input[name=result]").val(result)
                })                                                
            })
        </script>
        <h1>This is my first JS page</h1>
        <input type="text" name="num1">
        <input type="text" name="num2">
        <input type="button" value="plus">
        <input type="button" value="minus">
        <input type="button" value="multiply">
        <input type="button" value="divid">
        <input type="text" name="result">
    </body>
</html>