<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <style>
       
    </style>
</head>
<body>
  
<h1>Review for {{ product.product_name }}</h1>

<form method="POST">
    {% csrf_token %}
    <label for="review">Review:</label>
    <textarea name="review" id="review" placeholder="Add your review" required></textarea>
    <br><br>
    <label for="rating">Rating:</label>
    <input type="number" name="rating" id="rating" min="1" max="5" placeholder="Rate from 1 to 5" required>
     <br><br>
    <button type="submit">Submit</button>
</form> -->

<!-- <h3>Reviews</h3>
{% for review in product.reviews.all %}
    <div>
        <p>{{ review.user.username }}: {{ review.review }} (Rating: {{ review.rating }})</p>
    </div>
{% empty %}
    <p>No reviews yet.</p>
{% endfor %} -->
<!-- </body>
</html> -->

