<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sub_cat</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="sub_cat_name">Category name</label>
        <input type="text" name="sub_cat_name" placeholder="sub_cat_name">
        <label for="sub_cat_pic">category pic</label>
        <label for="sub_cat_pic">Upload Category Pic</label>
        <input type="file" name="sub_cat_pic" required>
        <button type="submit">create</button>
    </form>
    
</body>
</html>